<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/muscle.css')}}">
        <style>
        .nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.nav .links .mainlink{
    color: #e0501b;
}

.nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}
.heading{
    font-size:30px;

}

    </style>
    <title>Title</title>
</head>
<body>


<div class="nav">
            <div class="logo">
                <h4>HealthCare Plus</h4>
            </div>
            <div class="links">
                <a href="/home" >Home</a>
                <a href="/corona">Corona Corner</a>
                <a href="/articles">More Articles</a>
            </div>
        </div>
<div class="site-wrapper">
  <div class="article">
    <header>
        <br><br><center style="font-family:Arial, Helvetica, sans-serif"><h1>~~~Muscle Health Matters~~~</h1></center>
        <br><center><img src="https://thumbs.dreamstime.com/b/bodybuilder-body-parts-icons-muscles-vector-illustration-healthy-muscular-fitness-92891346.jpg" alt=""></center>
      <p><center style="font-family:Arial, Helvetica, sans-serif"><br>Do you know how many bones does the  human body have? 206 bones. YES! most of you must have got this right
          but do you know how many muscles do our body have? Well its 600, isn't it surprising. These muscles help you
          move, lift things, pump blood through your body, and even help you breathe.</center></p>
        <h1><center style="font-family:Arial, Helvetica, sans-serif">Why should you bother about your muscles being healthy?</center></h1>
          <p><center style="font-family:Arial, Helvetica, sans-serif">Healthy muscles let you move freely and keep your body strong. They help you to enjoy playing sports, dancing,
          walking the dog, swimming, and other fun activities. And they help you! do those other (not so fun things that you
          have to do, like making the bed. vacuuming the carpet, or mowing the lawn. Strong muscles also help to keep your
          joints in good shape. If the muscles around your knee, for example, get weak, you may be more likely to injure
        that knee. Strong -muscles also help you keep your balance so you are less likely to slip or fall.</center></p><br>

          <h1><center style="font-family:Arial, Helvetica, sans-serif">What are the different types of muscles in the human body? </h1><br>

         <ul>
            <li><h2>Skeletal muscles</h2>:<p style="font-family:Arial, Helvetica, sans-serif">Skeletal muscles are connected to by tough cords of tissue called tendons. As your bones the muscle
          contracts, it pulls on the tendon, which moves the bone. Bones are connected to other bones by ligaments which
                are like tendons and help hold your skeleton together.</p>
            </li><li><h2>Smooth muscles</h2>:<p style="font-family:Arial, Helvetica, sans-serif">Smooth muscles are also called involuntary muscles since you have control no over them. Smooth muscles work in your
          digestive system to move food along and push waste out of your body. They also help keep your eyes focused without
                your having to think about it.</li></p>
            <li><h2>Cardiac muscle</h2>:<p style="font-family:Arial, Helvetica, sans-serif">It is a specialized type of involuntary muscle. It pumps blood through your body, changing it's
          speed to keep up with the demands you put on it. It more pumps slowly when you're sitting or lying down, and
    faster when you're running or playing sports and your skeletal muscles need more blood to help them do their work.</li></p>
         </ul>

        <br><h1><center style="font-family:Arial, Helvetica, sans-serif"> How to build a good muscle strength?</center></h1><br>
          <p><center style="font-family:Arial, Helvetica, sans-serif"><br>Strength training is an important piece of the fitness equation. Men and women should participate in
          muscle strengthening activities that work the major muscle groups (legs, hips, back, chest, abdomen, shoulders
          and arms) -at least two times each week. Examples of strength training include lifting weights, using resistance
          bands and doing push-ups -and sit-ups. Even everyday activities such as -carrying groceries, playing with your
          kids and gardening can strengthen muscles. One of the best ways to support strength building is good nutrition.
          Protein, carbohydrates and lat play a major role. as does getting enough calories throughout the day.
          Read on to find out how each macronutrient can help you bulk much to eat every day.

<br>When you strengthen your muscles, they need 48 hours to re-knit. You must avoid strength exercises on the same muscles
          on consecutive days. But sleep is another key to muscle recovery. Sleep is critical to allow for proper healing
          of the tissues when we stress them...<br> Adults should aim for seven to eight hours per night. That will give your
        body time to repair muscle tissue and replenish your muscle's energy stores<br></center></p>
        <h1><center style="font-family:Arial, Helvetica, sans-serif">Fun facts about muscles:</center></h1>

         <img src="https://images.prismic.io/longevityinstitute-staging/696b51d1f03e1352e9e771d2ea76df932ec78b57_shutterstock_383061205.jpg?auto=compress,format" alt="">
    </header>
    <main>
        <p><li style="font-family:Arial, Helvetica, sans-serif">The largest muscle in the body is the gluteus maximus: It's the main extensor muscle of the hip, though
          you may know it as the large muscle in the buttocks. It's the largest muscle in the body because its main job is
          to support your trunk and maintain proper posture. The gluteus maximus is the main muscle used to help you walk
            upstairs.</li>
<li style="font-family:Arial, Helvetica, sans-serif">The smallest muscles in the body are in your inner ear.They include the tensor tympani and the stapedius. They
    connect to your eardrum and hold your inner ear together. The smallest bones in the body are also in your ear.</li>
<li style="font-family:Arial, Helvetica, sans-serif">The strongest muscle, based on its size, is the masseter. It's a muscle in your jaw.It can close your teeth with
    a force as great as 200 pounds on your molars.</li>
<li style="font-family:Arial, Helvetica, sans-serif">Muscles are attached to bones by tendons: Understanding the difference between tendons and ligaments can be
          confusing. In addition to attaching muscles to bones, tendons can also attach muscles to parts of your body such
    as your eyeballs. Ligaments connect one bone to another in your joints.</li>
            <li style="font-family:Arial, Helvetica, sans-serif">Muscles make up about 40 percent of your total body weight. This is true for most vertebrates.</li></ul>



        <img src="http://wewishes.com/wp-content/uploads/2020/07/Gym-Quotes-1.jpg" alt="">
        <br>


    </main>
  </div>
</div>

</body>
</html>